$header_vh: 5vh;

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-header {
  background-color: green;
  border-bottom: 1px solid black;
  min-height: $header_vh;
}

.page-container {
  overflow: auto;
  overflow: overlay;
}

.rendered-pages {
  overflow: hidden;
  height: calc(100vh - $header_vh);
}

.page {
  display: flex;
  justify-content: center;
  // transition: 0.3s;
}

.virtual-scroll-container {
  position: absolute;
  overflow: auto;
  overflow: overlay;
  width: 100%;
  height: calc(100vh - #{$header_vh});
  right: 0;

  .virtual-scroll {
    width: 20px;
  }
}

.main-container {
  overflow: auto;
  overflow: overlay;
  position: relative;
  height: 100vh;
  width: 100%;
}
