/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  margin: 0;
  -webkit-text-size-adjust: 100%; // 3
}

:root {
//   @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
//   }
}
